{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Invoice</title>
    <style>
        .marked-for-deletion {
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <h2>Edit Invoice #{{ invoice.id }}</h2>
    <div style="display: flex; justify-content: right;"> 
        <a href={% url 'GenPDF' invoice.id %} class='NavBar'>Generate PDF for Invoice ID: {{invoice.id}} </a> 
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <fieldset>
            <legend>Line Items</legend>
            <div id="formset-container">
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="inline-form {{ form.DELETE.id_for_label }}-container">
                    {{ form.as_p }}
                    <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}" class="delete-checkbox" onchange="markForDeletion('{{ form.DELETE.id_for_label }}')">
                    <label for="{{ form.DELETE.id_for_label }}">Mark for deletion</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <button type="button" id="add-more">Add More</button>
        <input type="submit" value="Save Changes">
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('add-more').addEventListener('click', function() {
                var totalForms = document.getElementById('id_invoicematerial_set-TOTAL_FORMS');//make sure to check for this(ctr+u) when doing dynamic stuff. sometimes the div id is a diff name
                console.log(totalForms); 
                var formNum = totalForms.value;
                var newForm = document.querySelector('.inline-form').cloneNode(true);
                newForm.innerHTML = newForm.innerHTML.replace(/-0-/g, '-' + formNum + '-');
                document.getElementById('formset-container').appendChild(newForm);
                totalForms.value = parseInt(formNum) + 1;
            });
    
            function markForDeletion(deleteCheckboxId) {
                var container = document.querySelector('.' + deleteCheckboxId + '-container');
                var checkbox = document.getElementById(deleteCheckboxId);
                if (checkbox.checked) {
                    container.classList.add('marked-for-deletion');
                } else {
                    container.classList.remove('marked-for-deletion');
                }
            }
        });
    </script>
</body>
</html>
{%endblock%}